#footer {
	background-color: rgb(20, 20, 20);
}

.connect {
	color: rgb(250, 250, 250);
	font-size: 2.5rem !important;
	transition: transform 500ms !important;
}

.connect:hover {
	transform: scale(1.3);
}
